{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.1"}
        io.github.hive-agi/hive-dsl
        {:git/tag "v0.5.2" :git/sha "8d9760c2f0cf210555db8b3d9fc47ce1af46d3f4"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.hive-agi/hive-test
                {:git/tag "v0.3.0" :git/sha "763e4bc"}
                org.clojure/test.check       {:mvn/version "1.1.1"}
                metosin/malli                {:mvn/version "0.20.1"}
                lambdaisland/kaocha          {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :dev
  {:extra-paths ["dev"]}}}
