{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.1"}
        io.github.hive-agi/hive-dsl
        {:git/tag "v0.5.1" :git/sha "335869e023e1bd5bf57c72be881baa647edf4a78"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.hive-agi/hive-test
                {:git/tag "v0.2.1" :git/sha "48b480f"}
                org.clojure/test.check       {:mvn/version "1.1.1"}
                metosin/malli                {:mvn/version "0.20.1"}
                lambdaisland/kaocha          {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :dev
  {:extra-paths ["dev"]}}}
