{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.1"}
        io.github.hive-agi/hive-dsl
        {:git/tag "v0.3.9" :git/sha "494af2c0ef889380649e1578942ffdfc205f446d"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.hive-agi/hive-test
                {:git/tag "v0.1.6" :git/sha "a53e9f8"}
                org.clojure/test.check       {:mvn/version "1.1.1"}
                metosin/malli                {:mvn/version "0.20.1"}
                lambdaisland/kaocha          {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}

  :dev
  {:extra-paths ["dev"]}}}
