{:lib      io.github.hive-agi/hive-di
 :minor    3
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-di"
 :src-dirs ["src" "resources"]
 :publish  :clojars}
